@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

h1 {
  margin-top: 1rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.search-form {
  flex-grow: 1;
}

.lecture {
  padding: 2rem;
}

.link-list {
  list-style: inside;
}

#social-links,
.link-list {
  color: rgb(32, 32, 32);
}

#social-links:hover {
  color: antiquewhite;
}

.inputForm {
  border: var(--border);
  border-radius: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.comment-top {
  border-top: solid var(--buttonAlt);
}

.list-box {
  border: 1px solid black;
  margin-top: 1rem !important;
}

.tall-content {
  height: 90vh;
  border-radius: 1rem;
  overflow: auto;
  padding: 1rem;
}

.pageSection {
  margin-left: 2rem;
}

.pageSection > div > div {
  border-radius: 20px !important;
  width: 90%;
  /* border: 1px solid rgba(22, 105, 122, 0.2); */
  margin-block: 0.5rem;
  margin-inline: auto;
  padding: 0.5rem;
  box-shadow: var(--shadow);
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.pageSection.primary > div > div {
  background-color: var(--section);
}

.pageSection.secondary > div > div {
  background-color: var(--sectionAlt);
}

.lesson {
  background-color: var(--section);
  background-color: var(--sectionAlt);
  box-shadow: var(--shadow);
  /* border: 1px solid grey; */
}

.noScroll {
  scrollbar-width: none;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.search-results {
  margin-inline: 20%;
  margin-top: 2rem;
}

.search-results h2 {
  background-color: var(--section);
  text-align: center;
  border-radius: 1rem;
  border: 2px solid gray;
}
.forum-topic-header {
  /* background-color: rgba(194, 194, 194, 0.5); */
  /* border-radius: 1rem; */
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  /* color: seashell;
  text-shadow: 2px 2px 4px #000000; */
}
.cp-logo:hover {
  cursor: pointer;
}
.homepage-img {
  background-image: url("https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fGNvZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  height:60%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.motto {
  position: absolute;
  bottom: 40%;
  right: 0;
  background-color: whitesmoke;
  opacity: .8;
  width: 100%;
}
.text-shadow {
  color: seashell;
  text-shadow: 2px 2px 4px #000000;
  /* text-shadow: 2px 2px 6px rgba(87,87,87,0.87); */
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.questionnare-header {
  background-image: url("/public/questionnare.jpeg");
  height:20rem;
}

.questionnare-title {
  padding-top: 4rem;
}

.image-styles {
  position: relative;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}