.days-topics {
  display: inline-block;
  height: 20rem;
  text-align: center;
  background-color: blue;
  border-radius: 1rem;
  margin-top: 1rem;
}
.student-landing-container {
  display: flex;
  justify-content: space-evenly;
}
.google-calander {
  border-radius: 10px;
  margin-top: 1rem;
}
.lecture-readme {
  min-height: 30rem;
  max-height: 80rem;
  overflow-y: auto;
  background-color: rgba(17, 136, 136, 0.59);
  border-radius: 1rem;
  margin-top: 1rem;
  max-width: 60rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}
.readme-title {
  font-weight: 500;
  text-align: center;
  background-color:rgba(17, 136, 136, 0.80);
}
.todays-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.link-list {
  list-style: inside;
}

