.days-topics {
  display: inline-block;
  height: 20rem;
  text-align: center;
}

.student-landing-container {
  display: flex;
  justify-content: space-between;
}

.btn-custom-orange {
  background-color: #ff500f;
  color: white
}