:root {
  --section: #8cb3da;
  --sectionAlt: rgba(22, 105, 122, 0.2);
  --button: coral;
  --buttonAlt: teal;
  --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --shadowBig: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --border: 1px solid grey;
  /* --borderAlt: 1px solid blue; */
}
