:root {
    --section: #8cb3da;
    --sectionAlt: rgba(22, 105, 122, .2);
    --button: coral;
    --buttonAlt: teal;
    --shadow: 5px 5px 5px teal;
    --shadowBig: 15px 15px 15px teal;
    /* --border: 1px solid grey; */
    /* --borderAlt: 1px solid blue; */
}
